* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	width: 100%;
	font-size: 16px;
	font-family: $font;
	font-weight: bold;
}

.container, .wrapper {
	@include container (0);
}

ul {
	list-style: none;
}

ul {
	li {
		a {
			display: flex;
		}
	}
}

a:link,     /* unvisited link */
a:visited,  /* visited link */
a:hover,  /* mouse over link */
a:active {
	text-decoration: none;
}
/* selected link */

.hidden {
	display: none;
}

.t-upper {
	text-transform: capitalize;
}
