.contact {
	padding-top: 90px;
	background: url("../img/bg.jpg") no-repeat;
	background-size: cover;
	padding-bottom: 210px;

	&__header{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 45px;
	}

	&__title {
		font-size: 90px;
		text-transform: capitalize;
		margin-bottom: 45px;
		color: $main-color;
	}

	&__subtitle { 
		display: flex;
		font-size: 17px;
		max-width: 360px;
		text-align:center;
		color: $main-color;
		font-weight: 300; }

		&__form {
			width: 100%;
			max-width: 1000px;

			display: flex;
			justify-content: space-between;

			&-form {
				display: flex;
				flex-direction: column;
				width: 100%;
				color: white;
				max-width: 500px;
			}

			&-text {
				height: 50px;
				width: 100%;
				font-size: 17px;
				font-weight: 300;
				background-color: $form-color;
				color: white;
				border: 0;
				margin-bottom: 15px;
				padding: 0 15px;
			}

			.transition {
				transition: all .3s ease;
			}

			&-text:hover, &-textarea:hover {
				border-left: 5px solid #355b82;
				background-color: $form-color-active;
				font-weight: 700;
				padding: 0 15px;
			}

			&-textarea {
				background-color: $form-color;
				width: 100%;
				height: 250px;
				color: white;
				border: 0;
				margin-bottom: 15px;
				padding: 0 15px;
			}

			&-submit {
				width: 100%;
				background-color: $submit;
				border: 0;
				font-size: 25px;
				height: 50px;
			}

			&-submit:hover {
				background-color: #d8ad00;
			}

			&-data {
				display: flex;
				color: $main-color;
				flex-direction: column;
			}

		}

	}

	.bold {
		font-weight: bold;
		display: flex;
		flex-direction: column;
		text-transform: uppercase;
		line-height: 1.5;
	}

	.cap {
		text-transform: capitalize;
	}

	.info {
		font-weight: 300;
		line-height: 1.5;
	}


	::placeholder {
		color: white;
	}

	.footer {
		background-color: $main-color;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 90px;
		color: $grey-footer;
		font-weight: 700;

		&__info {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			max-width: 1200px;

			&-cpright {
				text-transform: capitalize;
			}

			&-words:first-letter {
				text-transform: uppercase;
			}

		}
	}

	.red {
		color: $love;
	}
