@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900&display=swap');

// COLORS ////////////////////////////////////////////////////////////

$button-hover: #ff6033;
$header-text: #262626;
$bg-header: #f9f8fb;
$about-bg: #00b0b0;
$services-bg: #70bfff;
$white: #fff;
$black: #000;
$gallery-bg: #ffe92f;
$placeholder: #aaaaaa;
$olive: #96b92c;

$main-color: $header-text;
$form-color: rgba(0, 196, 196, 0.5);
$form-color-active: #00c4c4;
$border: #355b82;
$love: #ff2b58;
$submit: #fbc900;
$grey-footer: #b9b9b9;

//fonts )))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))

$font: 'Raleway', sans-serif;