@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900&display=swap');

// COLORS ////////////////////////////////////////////////////////////

$button-hover: #ff6033;
$header-text: #262626;
$bg-header: #f9f8fb;

//fonts )))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))

$font: 'Raleway', sans-serif;