.main-nav {
	border-top: 1px solid $grey-border;

	.nav-item:last-child .nav-link {
		border: none;
	}

	.nav-item {

		.nav-link {
			&::before {
				$size: 15px;
				content: none;
				display: block;
				position: absolute;
				bottom: 0;
				border: 10px solid transparent;
				border-bottom-color: $black;
				border-right-width: $size;
				border-left-width: $size;
			}

			&:hover {
				&::before {
					content: "";
				}
			}
		}

		&.active {

			.nav-link{
				color: $light-blue;
				text-transform: uppercase;
					&::before {
						content: "";
						$size: 15px;

						display: block;
						position: absolute;
						bottom: 0;
						border: 10px solid transparent;
						border-bottom-color: $light-blue;
						border-right-width: $size;
						border-left-width: $size;
					}
				}
			}
		}


	.nav-link {
		padding: 20px 15px;
		text-transform: capitalize;
		display: flex;
		font-weight: bold;
		justify-content: center;
		border: 1px solid $grey-border;
		border-bottom: none;
		border-top: none;
	}
}