@mixin square($sz) {
	width: $sz;
	height: $sz;
}

@mixin card {
	display: flex;
	&-img {
		flex-shrink: 0;
		max-height: 125px;
	}
	&-texts {
		padding: 15px 20px;
	}
	&-title {
		font-size: 26px;
		font-weight: bold;
		margin-bottom: 20px;
	}
	&-text {
		text-align: justify;
		margin-bottom: 0;
	}
}