.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  @include gradient-text;
  font-family: $open-sans;
  font-weight: bold;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover:not(:first-child) {
  transform: translateY(-5px);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  color: $white;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.rs-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__bars {
    color: $white;
    display: flex;
    font-size: 16px;
    cursor: pointer;
  }

  &__social-link {
    font-size: 16px;
    color: $white;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    &:hover {
      transform: translateY(-7px);
    }
  }



  &__social-list {
    width: 100%;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;


  }
}