//fonts 

		//lora
@import url('https://fonts.googleapis.com/css?family=Lora:400i&display=swap');
$lora: 'Lora', serif;

		//opensans
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,800&display=swap');
$open-sans: 'Open Sans', sans-serif;

// end fonts 

///////////////////////////////////////////////////////////////////////////

			//colors

//////////////////////////////////////////////////////////////////////////

$white: #fff;
$black: #000;
$very-grey: #22252c;
$not-very-grey: #313741;
$hire-me: #02cfb4;
$photo-bg: #141820;