
@import url('https://fonts.googleapis.com/css?family=Aleo:300i,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lovers+Quarrel&display=swap');


//FONTS VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV

$logo-font: 'Lovers Quarrel', cursive;
$main-font: 'Aleo', serif;

//colors )))))))))))))))))))))))))))))))))))))))))))))))))))))))))))

$grey-logo: #3a3a3a;
$grey-title: #3b3b3b;
$grey-text: #555555;
$sec-border: #e5e3e3;
$red: #f34949;
$subt-text: #b7b7b7;
$white: #fff;
$black: #000;