.bh-advs {
	background-color: $bg-color-second-section;
	padding: 50px 0;

	&__block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 70%; 
		margin: 0 auto;

		@include lg-screen {
			width: 100%;
			margin: 0;
		}
	}

	&__fig {
		display: flex;
		flex-direction: column;

		& > img {
			height: 60px;
			margin-bottom: 20px;
		}
	}


	&__figc {
		width: 100%;
		font-family: $secondary-font;
		font-size: 15px;
		text-transform: capitalize;
		a:link,     /* unvisited link */
		a:visited,  /* visited link */
		a:hover,  /* mouse over link */
		a:active {
			color: $white;
		}

		@include lg-screen {
			font-size: 36px;
		}
	}

	&__wawe {
		align-self: flex-start;
		width: 20%;
	}
}