*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	width: 100%;
	$base-size: 16px;
	font-size: $base-size;
	background-image: url("../img/bgg.jpg");
	background-size: cover;
	background-position-x: 12px;
	background-repeat-x: no-repeat;
}

.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

ul {list-style: none;
	li {
		a {
			display: flex;
		}
	}
}
    /* unvisited link */
a:visited,  /* visited link */  /* mouse over link */
a:active {
	text-decoration: none;
}
/* selected link */
