*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #990909;
}
header{
	display: flex;
	justify-content: center;
}
.imagesblock{
	display: flex;
	justify-content: center;
	background-color: black;
	font-size: 16px;
	color: white;
	text-align: center;

}
.imagesmain{
	width: 300px;
}
.helper{
	max-width: 300px;
	padding: 15px;
	margin: 0 15px;
}
.textblock{
	display: flex;
	justify-content: center;
}
.left,.center,.right{
	min-height: 500px;
}
.left{
	width: 20%;
	background-color: #7d0909;
}
.center{
	width: 70%;
}
.right{
	width: 10%;
}
span{
	display: block;
}
.leftspan{
	font-size: 25px;
	color: orange;
	text-decoration: underline;
	padding-bottom: 25px;
}
.centerspan{
	align-items: center;
	font-size: 20px;
	color:white;
	padding: 60px 15px 15px 15px;
}
.rightlist{
	background-color: #e3dddd;
	text-decoration: none;
	min-height: 500px;

}

li{
	text-align: left;
	display: block;
	padding: 30px 0;
	position: relative;
	font-size: 20px;
	z-index: 1;
}
li::before {
	content: "";
	position: absolute;
	left    : 25%;
	bottom  : -5px;
	height  : 1px;
	width   : 50%;
	border-bottom: 2px solid #fff;
}

.firstli{
	background-color: #bdbdbd;
	font-weight: bold;
	text-align: center;
	padding: 0;
	font-size: 25px;
	border: 0;
}

footer{
	padding: 25px 0;
}
.orange{
	background-color: #e95b11;
	color: white;
	font-size: 30px;
	text-align: center;
}

