@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic');

$open: 'Open Sans', sans-serif;

//colors 

// c335fe
// fed635
// fe3598

$black: black;
$white: white;

body {
	font-family: $open;
}