.fp-crew {
	padding: 150px 0;
	background-color: $white;

	@include md-screen {
		padding: 50px 0;
	}

	&__title {
		display: block;
		width: 100%;
		font-size: 60px;
		color: $main-color;
		font-family: $catarman;
		font-weight: 900;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 40px;
		margin-bottom: 60px;

		@include md-screen {
			font-size: $title-width;
		}
	}

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		flex-wrap: wrap;

		&-item {
			display: flex;
			flex-direction: column;
			align-items: center;

			@include lg-screen {
				&:nth-child(1),
				&:nth-child(2) {
					margin-bottom: 30px;
				}
			}

			@include xz-screen {
				margin-bottom: 40px;
				margin-left: auto;
				margin-right: auto;


				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	&__photo {
		@include padding-hack(240px, cover);
		width: 240px;
		border-radius: 50%;
		overflow: hidden;
		margin-bottom: 30px;

		@include lg-screen {
			margin-bottom: 15px;
		}
	}

	&__rank {
		font-size: 14px;
		font-weight: 300;
		font-family: $muli;
		margin-bottom: 20px;
		color: $desc-color;
		text-transform: uppercase;
		@include lg-screen {
			margin-bottom: 4px;
		}
	}

	&__name {
		font-family: $catarman;
		font-size: 24px;
		margin: 0;
		font-weight: 900;
		color: $main-color;
		text-transform: uppercase;
	}

}