//                                  FONTS  

        //     Muli


@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700&display=swap');

$muli: 'Muli', sans-serif;

        //    Catarman

@import url('https://fonts.googleapis.com/css?family=Catamaran:700,900&display=swap');

$catarman: 'Catamaran', sans-serif;

////////////////////////////////////////////////////////////////////////////////


//                                   COLORS



$orange: #ff690f;
$main-color: #2f2f2f;
$desc-color: #525252;
$icons-color: #979797;
$map-road-color: #ffd8a2;
$unactive-buttons: #d1d8df;
$white: #fff;


$classic: all .3s ease;
$title-width: calc(100vw/7.5);
$test-width: calc(100vw/9);
$subtitle-width: calc(100vw/25);