<header class="top-header">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-5">
				<a class="top-header__logo" href="/">
					<img src="<%= blocks.imgholder %>/400/100/tech" alt="">
				</a>
			</div>
			<div class="col-3 d-flex align-items-end">
				<ul class="contacts-nav">
					<li class="contacts-nav__item">
						<a href="tel:+380969280487" class="contacts-nav__link" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
							<i class="fas fa-phone-alt"></i>
						</a>
					</li>
					<li class="contacts-nav__item">
						<a href="#" class="contacts-nav__link" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
							<i class="fas fa-map-marker-alt"></i>
						</a>
					</li>
					<li class="contacts-nav__item">
						<a href="mailto:admin@gmail.com" class="contacts-nav__link" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
							<i class="far fa-envelope"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>