@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

//fonts *****************************************************************************

$main-font: 'PT Sans', sans-serif;

$black: #000;
$text-color: $black;
$white: #fff;
$yellow: #fcdb00;