header{
	text-align: center;
	background-color: rgba(166, 111, 0, 0.5);
	box-sizing: border-box;
	padding-top: 30px;
	color: black;
	max-height: 400px;
	width: 100%;
}
body{
	font-size: 16px;
}
h1{
	display: inline-block;
	padding: 10px 30px;
	position: relative;
	top: -100px;
	font-family: sans-serif;
}

img{
	display: inline-block;
	height: 250px;
}
img:hover{
	height: 260px;
	transition: all .6s ease;
}
main{
	font-family: sans-serif;
	text-align: center;
}
h2{
	text-align: center;
	background-color: rgba(0, 255, 0, 0.5);
	font-family: sans-serif;
	padding: 10px;
	width: 100%;
}
h2:hover{
	background-color: rgba(0, 255, 0, 0.8);
	transition: all .6s ease;
}
ul{
	display: inline-block;
	max-width: 100%;
	text-align: center;
}

li{
	width: 100%;
	background-color: rgba(0, 0, 255, 0.25);
	display: block;
	margin: 0 auto;
	padding: 3px;
	font-size: 1.5rem;
}
a{
	text-decoration: none;
	color: blue;
}
a:hover{
	color: green;
	transition: all .3s ease;
}
.English{
	color: black;
}
.English:hover{
	color: black;
}