@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');


// FONTS???????????????????????????????????????????????????????
$main-font: 'Poppins', sans-serif;
$secondary-font: 'Libre Baskerville', serif;
$sign-font: 'Sacramento', cursive;

//COLORS <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
$orange: #fc5f45;
$orange-logo: $orange;
$dark-bg: #3f4049;
$menu-color: #272727;
$cyan-text: #38c695;
$violet-text: #8b66bd;
$yellow-text: #e4a85d;
// $orange-text: #feb960;
// $pink-text: #d9aca5;
// $yellow-text: #feb960;
// $bg-text: #f6f6f6;
// $gradient-start-color: #cccccc;
$text-color: #616161;
$grey-bg: #f7f7f7;
$main-color: #313131;
// $work-steps-nums: #e0e0e0;
$black: black;
$white: white;
$white-bg: $white;

// LOL WHY >?????????????<?>?<?><?><?><?><?><?><?><?><?><?><?>

$transition: all .3s ease;

// KUDA V KOGO SHTO +++++++++++++++++++++++++++++++++++++++++

$header-colors: (
	1: $cyan-text,
	2: $violet-text,
	3: $yellow-text
	);

$about-colors: (
	1: $orange,
	2: $cyan-text,
	3: $violet-text,
	4: $yellow-text
	);
