<header class="rs-header">
	<div class="container">
		<a href="#" class="rs-header__logo">
			resto
		</a>

		<ul class="rs-header__list">
			<li class="rs-header__list-item">
				<a href="#" class="rs-header__list-link">
					our story
				</a>
			</li>
			<li class="rs-header__list-item">
				<a href="#" class="rs-header__list-link">
					menu
				</a>
			</li>
			<li class="rs-header__list-item">
				<a href="#" class="rs-header__list-link">
					reservations
				</a>
			</li>
			<li class="rs-header__list-item">
				<a href="#" class="rs-header__list-link">
					news
				</a>
			</li>
			<li class="rs-header__list-item">
				<a href="#" class="rs-header__list-link">
					reviews
				</a>
			</li>
		</ul>

	</div>
</header>