<section class="rs-title">
	<div class="container">
		<h1 class="rs-title__title">
			this template is awesome
		</h1>
		<h2 class="rs-title__subt">
			resto restaraunt home page wepsite template
		</h2>
	</div>
</section>