

//COLORS 

$main-color: #262626;
$form-color: rgba(0, 196, 196, 0.5);
$form-color-active: #00c4c4;
$border: #355b82;
$love: #ff2b58;
$submit: #fbc900;
$grey-footer: #b9b9b9;

//FONTS

$main-font: 'Raleway', sans-serif;