@font-face{
	font-family: "bigJohn";
	src: url("../assets/fonts/BigJohnPRO-Bold.woff") format("woff");
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');

$main-font: "bigJohn"; 
$sec-font: 'Open Sans', sans-serif;


//colors 777777777777777777777777777777777777777777
$footer-bg: #d2eae3;
$main-bg: #fef9fd;
