* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
}

body {
	font-family: $main-font;
	color: $grey-text;
	font-size: 100%;
	background-color: $white;
}

ul {
	list-style: none;
}

.container {
	width: 100%;
	max-width: 1140px;
	margin: auto;
	padding: 0 15px;
}

.sh-section {
	padding: px_to_rem(100px) 0;

	&:nth-child(odd) {
		background-color: $light-grey-bg;
	}

	&:nth-child(even) {
		background-color: $white;
	}

	&__title {
		font-family: $title-font;
		font-weight: 700;
		font-size: px_to_rem(38px);
		text-align: center;
		text-transform: uppercase;
		color: $black;
	}
	&__subtitle {
		font-family: $subtitle-font;
		font-size: 18px;
		text-align: center;
		text-transform: uppercase;
		color: $grey-text;
		letter-spacing: 1px;
		margin-bottom: px_to_rem(100px);
	}

	&__text-title {
		color: $grey-text;
		text-transform: uppercase;
		font-size: px_to_rem(20px);
		font-weight: 700;
		font-family: $subtitle-font;
		margin-bottom: 15px;
	}

	&__text-subtitle {
		font-family: $subtitle-font;
		color: $grey-text;
		font-size: px_to_rem(18px);
		margin-bottom: 15px;
		text-transform: uppercase;
	}

	&__text {
		line-height: 1.8;
	}

	&__know-more {
		text-decoration: none;
		text-transform: uppercase;
		color: $white;
		font-size: 16px;
		transition: all .3s ease;

		&:after {
			content: "";
		}
	}

	&__text:not(:last-child) {
		margin-bottom: 10px;
	}


}

ul {
	list-style: none;
	li {
		a {
			display: flex;
			color: white;
			text-decoration: none;
		}
	}
}

a:hover {
	color: white;
}

a:visited {
	color: white;
}

