@mixin fixed {
	right: 0;
	left: 0;
	z-index: 999;
	@content;
}


@mixin xs-screen {
	@media only screen and (max-width: 575px) {
		@content;
	}
}

@mixin sm-screen {
	@media only screen and (max-width: 576px) {
		@content;
	}
}

@mixin cn-screen {
	@media only screen and (max-width: 690px) {
		@content;
	}
}

@mixin md-screen {
	@media only screen and (max-width: 768px) {
		@content;
	}
}

@mixin lg-screen {
	@media only screen and (max-width: 958px) {
		@content;
	}
}

@mixin xl-screen {
	@media only screen and (max-width: 1200px) {
		@content;
	}
}

@mixin low-screen {
	@media only screen and (max-height: 800px) {
		@content;
	}
}

@mixin title-size {

	@include xl-screen {
		font-size: calc(100vw / 15);
	}

	@include sm-screen {
		margin-bottom: 10px;
		font-size: calc(100vw / 13);
	}

	@content;
}