.sh-testim {
	background-color: #e7f6ff;
	padding: 40px 0;

	&__title {
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		font-family: $roboto;
		font-weight: 700;
		color: $main;
		font-size: 70px;
		margin-bottom: 30px;

		@include xl-screen {
			font-size: calc(100vw / 14);
		}

		@include sm-screen {
			margin-bottom: 10px;
		}
	}
}

.otzyvy {
	&-img {
		height: 300px;
		margin: 0 auto;
	}

	.slick-slide {
		transform: scale(0.9);
		opacity: .8;
		transition: all .3s ease;
	}

	.slick-current {
		transform: scale(1);
		opacity: 1;
		transition: all .3s ease;
	}

	.slick-arrow {
		display: block !important;
		opacity: 1;
		color: black;
		z-index: 5156;
	}

	.slick-prev {
		&::before {
			font-family: "FontAwesome";
			content: "\f060";
			color: $main;
			font-size: 40px;
		}
	}

	.slick-next {
		&::before {
			font-family: "FontAwesome";
			content: "\f061";
			color: $main;
			font-size: 40px;
		}
	}


}