.sh-price__header {
	padding: 135px 0 40px 0;
	width: 100%;

	&-title {
		font-size: 150px;
		font-family: $mark;
		color: black;
		width: 100%;
		text-align: center;

		@include title-size{
			margin-bottom: 0;
		}
	}
}

.sh-price__section {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(640px / 1.5);

	@include xl-screen{
		flex-direction: column;
	}
}

.slider, .draggable, .slick-track{
	height: 100%;
}

.sh-price__knives {
	padding: 0;
	margin: 0;
	@include xl-screen {
		position: relative;
	}

	&-left {
		height: 100%;
		width: 50%;
		background: url("../img/bgknives.jpg") no-repeat;
		background-size: cover;
		background-color: $violet;
		background-blend-mode: multiply;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $white;
		font-family: $cuprum;
		font-size: 250px;

		@include title-size{
			margin-bottom: 0;
		}

		@include xl-screen {
			width: 100%;
			height: auto;
		}
	}

	&-right {
		height: 100%;
		width: 50%;	
		background-color: #fff;
		padding: 30px 50px;

		@include xl-screen {
			width: 100%;
			padding: 10px;
			height: 360px;
		}
	}
}

.sh-price__barber {
	padding: 0;
	margin: 0;
	@include xl-screen {
		position: relative;
	}
	&-left {
		height: 100%;
		width: 50%;
		background: url("../img/barber.jpg") no-repeat;
		background-size: cover;
		background-color: $violet;
		background-blend-mode: multiply;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $white;
		font-family: $cuprum;
		font-size: 105px;
		text-align: center;

		@include title-size{
			margin-bottom: 0;
		}

		@include xl-screen {
			width: 100%;
			height: auto;
		}
	}

	&-right {
		height: 100%;
		width: 50%;	
		background-color: #fff;
		padding: 30px 50px;

		@include xl-screen {
			width: 100%;
			padding: 10px;
			height: 360px;
		}
	}
}

.sh-price__scissors {
	
	@include xl-screen {
		position: relative;
		flex-direction: column-reverse;
	}
	&-left {
		height: 100%;
		width: 50%;	
		background-color: #fff;
		padding: 30px 50px;

		@include xl-screen {
			width: 100%;
			padding: 10px;
			height: 360px;
		}
	}

	&-right {
		height: 100%;
		width: 50%;
		background: url("../img/nails.jpg") no-repeat;
		background-size: cover;
		background-color: $violet;
		background-blend-mode: multiply;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $white;
		font-family: $cuprum;
		font-size: 125px;
		text-align: center;

		@include title-size{
			margin-bottom: 0;
		}

		@include xl-screen {
			width: 100%;
			height: auto;
		}
	}
}

.sh-price__other {
	

	@include xl-screen {
		position: relative;
		flex-direction: column-reverse;
	}
	&-left {
		height: 100%;
		width: 50%;	
		background-color: #fff;
		padding: 30px 50px;

		@include xl-screen {
			width: 100%;
			padding: 10px;
			height: 360px;	
		}
	}

	&-right {
		height: 100%;
		width: 50%;
		background-image: url("../img/garden.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-color: $violet;
		background-blend-mode: multiply;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $white;
		font-family: $cuprum;
		font-size: 250px;

		@include title-size{
			margin-bottom: 0;
		}

		@include xl-screen {
			width: 100%;
			height: auto;
		}
	}
}

.sh-price__list {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;

	&-item {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 26px;
		color: $main;

		@include md-screen {
			font-size: 18px;
		}
	}

	&-name {
		font-family: $mons;
		font-weight: 600;

		@include md-screen {
			max-width: 280px;
		}
	}

	&-price {
		font-family: $echo;
	}
}

.slick-arrow {
	display: none !important;
	opacity: 0;
}



.slick-dots li {
	margin: 0;
}

#slick-slide-control00::before {
	font-size: 30px;
	color: $blue;
	&:hover {
		transform: translateX(-3px);
	}
}

#slick-slide-control01::before {
	font-size: 30px;
	color: $blue;
	&:hover {
		transform: translateX(-3px);
	}
}

#slick-slide-control10::before {
	font-size: 30px;
	color: $blue;
	&:hover {
		transform: translateX(-3px);
	}
}

#slick-slide-control11::before {
	font-size: 30px;
	color: $blue;
	&:hover {
		transform: translateX(-3px);
	}
}

#slick-slide-control12::before {
	font-size: 30px;
	color: $blue;
	&:hover {
		transform: translateX(-3px);
	}
}

.slick-dots {
	& > li {
		opacity: .8;
		&:hover {
			opacity: .8;
		}
	}

	& > .slick-active {
		opacity: 1;
		&:hover {
			opacity: 1;
		}
	}
}