@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400,700&display=swap');
@import url("https://use.typekit.net/hnc5rmc.css");
//colors 

$bg-blue: #33395c;
$jamie: #5d5f81;
$y-read-more: #e9d036;
$brown-read-more: #491a37;
$blue-read-more: #3e67c9;
$recipe: #636fe6;
$search: #65d8b9;
$cursor: #d95d4d;
$tw-block: #00b1ed;
$ing: #9b9db1;
$follow: #72c8e6;
$fb: #3b5a9a;
$like: #5b79b8;
$jamie: #d9e3ed;
$header-text: #b0b3c4;
$search-place: #f3f4ff;
$jm-text: #5d5f81;

//fonts 

$old: 'Old Standard TT', serif;
$league-spartan: 'myriad-pro', sans-serif;