@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
//fonts 



$main-font: 'Roboto', sans-serif;
$sec-font: 'Montserrat', sans-serif;





//colors



$orange: #fd4f32;
$title-color: #323232;
$subt-color: #696969;
$footer-color: #eeeeee;
$footer-text: #8b8b8b;
$bb-color: #e1e0d8;
$black: black;
$white: white;