// fonts 777777777777777777777777777777777777777777777777777777

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

$title-font: 'Nunito', sans-serif;
$main-font: 'Open Sans', sans-serif;


//colors %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
$yellow: #fdb813;
$orange: #fca313;
$green: #00a453;
$red: #d32f2f;
$grey-footer: #bcbcbc;
$grey-header: #a6a6a6;
$grey-border: #c7c7c7;
$grey-bg: #f5f5f5;
$square-bg: #fff6e7;
$black: #000;
$white: #fff;