@import url('https://fonts.googleapis.com/css?family=Lato:300,700&display=swap');

//FONTS????????????????

$font: 'Lato', sans-serif;

// colors $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

$white: #fff;
$brown-text: #3c3c3c;

